/* Palette Colors 
    White (Isabelline): #F0EDEE  
    Black : #0A090C;
    Dark Green: #07393C;
    Light Green: #2C666E;
    Middle Blue: #90DDF0;      
*/
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Roboto:wght@400;500;700&display=swap");
body {
  background-color: #f0edee;
  color: #0a090c;
  font-family: "Roboto", sans-serif;
}
/* Intro - Welcome - Screen */
.game-menu-screen {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-menu-screen-content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.menu-screen-title {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-family: "Otomanopee One", sans-serif;
  color: #07393c;
  text-align: center;
}
.btn-wrapper {
  display: flex;
  flex-direction: column;
}
.btn,
.outline-btn {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  transition: 0.3s;
}
.outline-btn {
  border: 2px solid;
  color: inherit;
  margin: 7px 0px;
}
.primary-outline-btn {
  border-color: #2c666e;
  color: #2c666e;
}
.primary-outline-btn:hover,
.primary-outline-btn:active {
  background-color: #2c666e;
  color: #fff;
}
.secondary-outline-btn {
  border-color: #8b2635;
  color: #8b2635;
}
.secondary-outline-btn:hover,
.secondary-outline-btn:active {
  background-color: #8b2635;
  color: #fff;
}

.primary-btn {
  background-color: #2c666e;
  color: #f0edee;
}
.primary-btn:hover,
.primary-btn:active {
  background-color: #235158;
}
.secondary-btn {
  background-color: #8b2635;
  color: #f0edee;
}
.secondary-btn:hover,
.secondary-btn:active {
  background-color: #701f2b;
}
.white-btn {
  background-color: #f0edee;
  color: #0a090c;
}
.white-btn:hover {
  background-color: #dad3d5;
}
.start-btn,
.rules-btn,
.records-btn {
  margin: 7px 0px;
  /* width: 100%; */
}
/* In GAME */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.time-left {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #07393c;
}
.balloon-to-pop {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: inherit;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 0.5rem;
}
.switching-balloon-in-time {
  color: #0a090c;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 0.5rem;
}
.settings {
  color: #2f6b75;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.25rem;
}
.settings:hover {
  color: #235158;
}
.balloons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 576px;
  margin: auto;
}

.balloon,
.balloon-popped {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: transparent;
  margin: 25px;
  background-color: transparent;
}
.balloon-popped {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  /* color: #c7bcbf;
  color: #07393c;
  color: #701f2b;
  color: #c2cc00; */
}
.balloon {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.black-balloon {
  background-color: #0a090c;
  color: #0a090c;
}
.white-balloon {
  background-color: #f0edee;
  color: #c7bcbf;
}
.green-balloon {
  background-color: #07393c;
  color: #07393c;
}
.red-balloon {
  background-color: #701f2b;
  color: #701f2b;
}
.yellow-balloon {
  background-color: #f7ff58;
  color: #c2cc00;
}

/* Game Stats */
/* .game-stats-screen {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
} */
.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.game-stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.game-stats-header {
  text-align: center;
}
.game-stats-header,
.balloon-stats {
  margin: 1.5rem 0;
}
.game-stats-summary {
  margin: 1rem 0;
}
.game-stats-summary p {
  margin: 8px;
}
.total-popped,
.lost-balloons {
  font-weight: 500;
}
.game-stats-title,
.new-record-title {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 700;
}
.new-record-title {
  color: #07393c;
}
.game-stats-ended-in-title,
.balloons-popped-title {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: 500;
  text-align: center;
}

.time {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 700;
}

.balloon-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.balloon-stat {
  text-align: center;
}
.balloon-stat-quantity {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}
.btn-container {
  text-align: center;
  margin-top: 10px;
}
.btn-container .btn {
  margin: 6px;
}
.balloons-stats {
  width: 512px;
}

/* MEDIA QUERIES */
@media (min-width: 0px) {
  .toolbar {
    padding: 0.85rem;
  }
  .balloon-to-pop {
    height: 50px;
    width: 50px;
  }
  .time-left {
    font-size: 2.5rem;
  }
  .settings {
    font-size: 1rem;
  }
  .balloons {
    margin-top: 20px;
    max-width: 325px;
  }
  .balloon {
    margin: 10px 8px;
    height: 50px;
    width: 50px;
  }
  .game-stats-header {
    margin: 0;
  }
  .game-stats-title {
    margin: 10px 0;
    font-size: 32px;
  }
  .game-stats-ended-in-title {
    font-size: 24px;
  }
  .balloons-popped-title {
    font-size: 24px;
  }
}

@media (min-width: 425px) {
  .balloons {
    max-width: 375px;
  }
  .balloon {
    margin: 12px;
  }
}
